{% extends 'base.html.twig' %}

{% block title %}Modifier la signature
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<section class="view_signature d-flex justify-content-center align-items-center mt-5">
					<div class="border p-3">
						<table border="0" cellpadding="0" width="500">
							<tbody>
								<tr>
									<td align="left" valign="middle" width="10">
										<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
											<a href="https://www.unsa.org/"><img id="logo" src="https://lab-web.unsa.org/signature{{signature.logo.path}}" class="border-0" style="border: none;inline-size: 120px;" alt="LOGO UNSA"></a>
										</p>
									</td>
									<td><br>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
											<span id="name" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">{{signature.name}}</span><br>
											<span id="role" style="color: #666;">
												<i>{{signature.role}}</i>
											</span><br>
											<span id="organization" style="color: #666;">
												<i>{{signature.organization}}</i>
											</span><br>
										</p>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
											<span id="address" style="color: #000;">{{signature.adress}}</span><br>
											<span id="zipCode" style="color: #000;">{{signature.zipCode}}&nbsp;</span>
											<span id="city" style="color: #000;">{{signature.city}}
												CEDEX</span><br>
										</p>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
											<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0" style="border: none;block-size: 12px;margin-inline-end: .5em;">
											<a id="previewEmail" href="mailto:${email}" style="color: #666; font-style: italic;">{{signature.email}}</a><br>
											<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none;block-size: 14px;margin-inline-end: .5em;">
											<span id="phone" style="color: #666;">{{signature.phone}}</span>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section><br>
			</div>
			<div class="col-lg-6">
				<section class="generate_signature d-flex justify-content-center align-items-center">
					<form class="form" method="post">
						{{ form_start(form) }}

						<div class="form-group">
							{{ form_row(form.last_name, {'attr': {'class': 'form-control', 'id': 'form_last_name', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.first_name, {'attr': {'class': 'form-control', 'id': 'form_first_name', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.phone_landline, {'attr': {'class': 'form-control', 'id': 'form_phone_landline', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.phone_mobile, {'attr': {'class': 'form-control', 'id': 'form_phone_mobile', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()','required': 'required'}}) }}
						</div>

						{{ form_end(form) }}<br>
					</form>
				</section>
			</div>
		</div>
	</div>

{% endblock %}
