{% extends 'base.html.twig' %}

{% block title %}Modifier la signature
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<section class="view_signature d-flex justify-content-center align-items-center mt-5">
					<div class=" p-3">
						<table border="0" cellpadding="0" width="480">
							<tbody>
								<tr>
									<td align="left" valign="middle" width="10">
											<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
											<a href="https://www.unsa.org/"><img id="logo" src="https://lab-web.unsa.org/signature{{signature.logo.path}}" class="border-0" style="border: none;inline-size: 120px;" alt=""></a>
										</p>
									</td>
									<td><br>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
											<span id="name" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">
												{% set name = signature.name|split('&') %}
												{{name[0]}} {{name[1]}}
											</span><br>
											<span id="role" style="color: #666;">
												<i>{{signature.role}}</i>
											</span><br>
											<span id="organization" style="color: #666;">
												<i>{{signature.organization}}</i>
											</span><br>
										</p>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
											<span id="address" style="color: #000;">{{signature.adress}}</span><br>
											<span id="zipCode" style="color: #000;">{{signature.zipCode}}&nbsp;</span>
											<span id="city" style="color: #000;">{{signature.city}}
											</span><br>
										</p>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
											<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0" style="border: none;block-size: 12px;margin-inline-end: .5em;">
											<a id="previewEmail" href="mailto:${email}" style="color: #666; font-style: italic;">{{signature.email}}</a><br>
											<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none;block-size: 14px;margin-inline-end: .5em;">
											<span id="phone" style="color: #666;">{{signature.phone}}</span>
										</p>
										{% if signature.logo2 is not null %}
											<td align="right" valign="middle" width="10">
												<p style="padding-inline-end: 10px; font-size: 12px; line-height: 14px;">
													<a href="https://unsa.org/"><img alt="" id="logo_2" src="https://lab-web.unsa.org/signature{{signature.logo2.path}}" style="border: none; inline-size: 120px;"></a>
												</p>
											</td>
										{% endif %}
									</td>
								</tr>
							</tbody>
						</table>
						<div id="previewDisclaimer2" style="background-color: #2ecc71; border-radius : 5px; padding: 0 5px; color #ecf0f1; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-size: 1rem;">
							<p>Avant d'imprimer, pensez à l'environnement. N'imprimez cette page que si nécessaire.</p>
						</div>
					</div>
				</section><br>
			</div>
			<div class="col-lg-6">
				<section class="generate_signature d-flex justify-content-center align-items-center">
					<form class="form" method="post" name="form">
						{{ form_start(form) }}

						<div class="form-row">
							<div class="col">
								<div class="form-group">
									{{ form_row(form.last_name, {'attr': {'class': 'form-control', 'id': 'form_last_name', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									{{ form_row(form.first_name, {'attr': {'class': 'form-control', 'id': 'form_first_name', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col">
								<div class="form-group">
									{{ form_row(form.phone_landline, {'attr': {'class': 'form-control', 'id': 'form_phone_landline', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									{{ form_row(form.phone_mobile, {'attr': {'class': 'form-control', 'id': 'form_phone_mobile', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
						</div>

						<div class="form-group">
							{{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
						</div>

						<div class="form-row">
							<div class="col">
								<div class="form-group">
									{{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									{{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
						</div>


						<div class="form-group">
							{{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
						</div>


						<div class="form-row">
							<div class="col">
								<div class="form-group">
									{{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									{{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col">
								 <div class="form-group">
									{{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()','required': 'required'}}) }}
								</div>
							</div>

							<div class="col">
								 <div class="form-group">
									{{ form_row(form.logo_2, {'attr': {'class': 'form-control', 'id': 'f', 'oninput': 'updatePreview()'}}) }}
								</div>
							</div>

						</div>

						<div class="form-row">								
							<div class="col"><br>
								{{ form_row(form.facebook, {'attr': {'id': 'facebook', 'class': 'hidden-facebook'}}) }}<br>
								{{form_row(form.youtube,{'attr': {'id':'youtube', 'class': 'hidden-youtube'}})}}
							</div>
							<div class="col"><br>
								{{form_row(form.unsa,{'attr': {'id':'unsa', 'class': 'hidden-unsa'}})}}<br>
								{{form_row(form.linkedin,{'attr': {'id':'linkedin', 'class': 'hidden-linkedin'}})}}
							</div>
							<div class="col-md-6"><br>
								{{form_row(form.twitter,{'attr': {'id':'twitter', 'class': 'hidden-twitter'}})}}
							</div>
						</div><br>

						<div id="disclaimer-container">
							{{ form_row(form.disclaimer, {'attr': {'class': '','id':'disclaimer', 'required': 'required'}})}}
						</div>
						
						<p>Merci de bien vouloir renseignez tout les champs obligatoire <br>contenant une astérix (*).</p>

						{{ form_end(form) }}<br>
					</form>
				</section>
			</div>
		</div>
	</div>
<script>
	document.querySelector('form[name="form"]').addEventListener('submit', function(event) {
		event.preventDefault();
		var form = event.target;

		var formData = new FormData(form);

		var xhr = new XMLHttpRequest();
		xhr.open(form.method, form.action);
		xhr.onreadystatechange = function() {
			if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
				var parentWindow = window.parent;
				parentWindow.postMessage('closeModal', '*');
			}
		};
		xhr.send(formData);
	});

var element = document.getElementById('form_disclaimer_0'); element.id = 'oui';
var element2 = document.getElementById('form_disclaimer_1'); element2.id = 'non';

document.getElementById('oui').addEventListener('click', function() {
  document.getElementById('previewDisclaimer2').style.display = 'block';
  localStorage.setItem('disclaimerState1', 'visible');
});

document.getElementById('non').addEventListener('click', function() {
  document.getElementById('previewDisclaimer2').style.display = 'none';
  localStorage.setItem('disclaimerState1', 'hidden');
});

document.addEventListener('DOMContentLoaded', function() {
  var disclaimerState1 = localStorage.getItem('disclaimerState1');

  if (disclaimerState1 === 'visible') {
    document.getElementById('previewDisclaimer2').style.display = 'block';
  } else if (disclaimerState1 === 'hidden') {
    document.getElementById('previewDisclaimer2').style.display = 'none';
  }  else {
        document.getElementById('previewDisclaimer2').style.display = 'none';
    }
});

</script>

{% endblock %}
