{% extends 'base.html.twig' %}

{% block title %}Générer une signature
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}

		.modal-content {
			background-color: #fff;
			margin: 10% auto;
			padding: 20px;
			border: 1px solid #ddd;
			border-radius: 4px;
			inline-size: 80%;
			block-size: 100%;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
			max-block-size: 70vh;
		}

		.modal-header {
			padding-block-end: 10px;
			border-block-end: 1px solid #ddd;
			text-align: center;
		}

		.modal-title {
			margin: 0;
			font-size: 20px;
			font-weight: bold;
		}

		.modal-body {
			flex-grow: 1;
			block-size: 100%;
		}

		.close {
			color: #aaa;
			float: inline-end;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
		}

		#signate-container {
			border: 1px solid #ccc;
			padding: 10px;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container" style="overflow:auto ;"><br>
		<div class="d-flex justify-content-end">
			<a href="{{ path('logout') }}" class="btn btn-danger" onclick="removeStorage()">Déconnexion</a>
		</div>

		<div style="display: flex; justify-content: center;">
			<div style="display: flex; align-items: center;">
				<h1 style="text-align: center; margin-inline-end: 10px;">Bienvue sur votre espace personnel	{{user.email}}					&nbsp;</h1>

				<section class="userProfile" style="overflow:auto; padding: 10px ;">
					<form class="user-form" method="POST">
						{{ form_start(userForm) }}<br>

						<div class="form-group">
							<div class="input-group">
								{{ form_row(userForm.password, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
								<div class="input-group-append">
									<button class="btn btn-outline-secondary btn-sm" type="button" id="showPasswordBtn" onclick="togglePasswordVisibility('{{ userForm.password.vars.full_name }}')">Afficher</button>
								</div>
							</div>
						</div>

						{{ form_end(userForm) }}
						<br>
					</form>
				</section>

			</div>
		</div><br><br>

		<section class="all_signatures" style="overflow:auto;">

			<form method="GET" action="{{ path('profile_signature') }}">
				<div class="form-row">
					<div class="form-group col-md">
						<label for="date">Date de création :</label>
						<input type="date" id="date" name="date" class="form-control" value="{{ date }}">
					</div>
					<div class="form-group col-md">
						<label for="nom">Nom :</label>
						<input type="text" id="nom" name="nom" class="form-control" value="{{ nom }}" pattern="^[A-Za-z]+$">
					</div>
					<div class="form-group col-md">
						<label for="email">Email :</label>
						<input type="text" id="email" name="email" class="form-control" value="{{ email }}" pattern="^[A-Za-z0-9@.]+$">
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Rechercher</button>
			</form><br>

			<table class="table border">
				<thead class="table-dark">
					<tr>
						<th>Nom et Prénom</th>
						<th>Adresse email</th>
						<th>Date de création</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for signature in pagination %}
						<tr>
							<td>
								<section class="view_signature d-flex justify-content-center align-items-center mt-5">
									<div class="border p-3">
										<table border="0" cellpadding="0" width="555">
											<tbody>
												<tr>
													<td align="left" valign="middle" width="10"><br>
														<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
															<a href="{{signature.logo.refLink}}"><img id="logoEdit" src="https://lab-web.unsa.org/signature{{signature.logo.path}}" class="border-0" style="border: none;inline-size: 120px;" alt=""></a>
														</p>
													</td>
													<td><br>
														<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
															<span id="nameEdit" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">{{signature.name}}</span><br>
															<span id="roleEdit" style="color: #666;">
																<i>{{signature.role}}</i>
															</span><br>
															<span id="organizationEdit" style="color: #666;">
																<i>{{signature.organization}}</i>
															</span><br>
														</p>
														<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
															<span style="color: #000;" id="addressEdit">{{signature.adress}}</span><br>
															<span style="color: #000;" id="zipCodeEdit">{{signature.zipCode}}&nbsp;</span>
															<span style="color: #000;" id="cityEdit">{{signature.city}}</span><br>
														</p>
														<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
															<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0" style="border: none;block-size: 12px;margin-inline-end: .5em;">
															<a id="emailEdit" href="mailto:{{signature.email}}" style="color: #666; font-style: italic;">{{signature.email}}</a><br>
															<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none; block-size: 14px; margin-inline-end: .5em;">
															{% set phoneNumbers = signature.phone|split(' - ') %}
															{{ phoneNumbers[0] }}
															&ensp;&ensp;<img src="https://lab-web.unsa.org/signature/img/mobile.png" class="border-0" style="border: none; block-size: 14px; margin-inline-end: .5em;">
															{{ phoneNumbers[1] }}
														</p>														
														{% if signature.logo2 is not null %}
															<td align="right" valign="middle" width="10"><br>
																<p style="padding-inline-end: 10px; font-size: 12px; line-height: 14px;">
																	<a href="https://www.unsa.org/"><img alt="" src="https://lab-web.unsa.org/signature{{signature.logo2.path}}" style="border: none; inline-size: 120px;"></a>
																</p>
															</td>
														{% endif %}														
													</td>												
												</tr>
											</tbody>
										</table>
										{% if signature.disclaimer != 'non' %}
											<div style="background-color: #2ecc71; border-radius : 5px; padding: 0 5px; color #ecf0f1; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-size: 1rem;">
												{{ signature.disclaimer|raw }}
											</div>
										{% endif %}
									</div>
								</section><br>
							</td>
							<td class="text-center align-middle">{{ signature.email }}</td>
							<td class="text-center align-middle">{{ signature.createAT|date('d-m-Y') }}</td>
							<td class="text-center align-middle">
							<div style="display: flex; justify-content: center; align-items: center; gap: 5px">
								<button class="btn btn-warning" onclick="openModal('{{ path('edit_signature',{ id: signature.id }) }}')">&#128221;</button>
								<button class="btn btn-secondary" onclick="openModal('{{ path('html_signature',{id: signature.id}) }}')">HTML</button>
								<button class="btn btn-success" onclick="openModal('{{ path('png_signature',{id: signature.id}) }}')">PNG</button>
							</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="pagination">
				{{ knp_pagination_render(pagination) }}
			</div>

		</section><br><hr><br>

		<h1 class="text-center">Générer une signature</h1><br><br>

		<div id"signate-container" class="container border" style="display: flex;padding:5%;">
			<div style="flex-grow: 1;">
				<section class="generate_signature">

					<form class="form" method="post">
						{{ form_start(form) }}

						<br><br><br><div style="inline-size:516px;">
							<a id="infoPersoBtn" class="btn btn-outline-warning" onclick="toggleInfoPerso()">Information personnelle&emsp;&emsp;&emsp;&emsp;🔽</a>
						</div><br>
						<div id="infoPersoFields" style="display: none;">
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										{{ form_row(form.last_name, {'attr': {'class': 'form-control', 'id': 'form_last_name', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form_row(form.first_name, {'attr': {'class': 'form-control', 'id': 'form_first_name', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
							</div>
							<div class="form-group">
								{{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
							</div>
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										{{ form_row(form.phone_landline, {'attr': {'class': 'form-control', 'id': 'form_phone_landline', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form_row(form.phone_mobile, {'attr': {'class': 'form-control', 'id': 'form_phone_mobile', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
							</div>
						</div>

						<a id="infoEntrepriseBtn" class="btn btn-outline-warning" onclick="toggleInfoEntreprise()">Information entreprise &nbsp;&emsp;&emsp;&emsp;&emsp; 🔽</a><br>
						<div id="infoEntrepriseFields" style="display: none;"><br>
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										{{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
							</div>
							<div class="form-group">
								{{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
							</div>

							<div class="form-row">
								<div class="col">
									<div class="form-group">
										{{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
							</div>
						</div><br>

						<a id="infoThemeBtn" class="btn btn-outline-warning" onclick="toggleInfoTheme()">Information theme &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 🔽</a><br><br>
						<div id="infoThemeFields" style="display: none;">
							<div class="form-row">
								<div class="col">
									<div class="form-group">
										{{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()','required': 'required'}}) }}
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form_row(form.logo_2, {'attr': {'class': 'form-control', 'id': 'form_logo_2', 'oninput': 'updatePreview()'}}) }}
									</div>
								</div>
							</div>

							<div id="disclaimer-container">
									{{ form_row(form.disclaimer, {'attr': {'id':'disclaimer'}})}}
							</div>

						</div>

						<p>Merci de bien vouloir renseignez tout les champs obligatoire
							<br>contenant une astérix (*).</p>

						{{ form_end(form) }}
					</form>

				</section>

			</div>
			<div style="flex-grow: 1; position: sticky; inset-block-start: 0;">
				<section class="view_signature d-flex justify-content-center align-items-center mt-5">
					<div class=" p-3">
						<h4 class="text-center">Prévisualisation :<h4><br>
								<table border="0" cellpadding="0" width="500">
									<tbody>
										<tr>
											<td align="left" valign="middle" width="10">
												<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
													<a href="{{srcLogo}}"><img id="logo" src="" class="border-0" style="border: none;inline-size: 120px;" alt=""></a>
												</p>
											</td>
											<td><br>
												<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
													<span id="name" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">Nom et Prénom</span><br>
													<span id="role" style="color: #666;">
														<i>Mon poste</i>
													</span><br>
													<span id="organization" style="color: #666;">
														<i>Mon entreprise</i>
													</span><br>
												</p>
												<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
													<span style="color: #000;" id="address">Mon adresse</span><br>
													<span style="color: #000;" id="zipCode">Code postal&nbsp;</span>
													<span style="color: #000;" id="city">Ville</span><br>
												</p>
												<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
													<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0" style="border: none;block-size: 12px;margin-inline-end: .5em;">
													<a id="previewEmail" href="mailto:${email}" style="color: #666;font-style: italic;">Adresse Email</a><br>
													<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none;block-size: 14px;margin-inline-end: .5em;">
													<span id="phone" style="color: #666;">Numéro</span>
												</p>
												{% if logo2 is not null %}
													<td align="right" valign="middle" width="10">
														<p style="padding-inline-end: 10px; font-size: 12px; line-height: 14px;">
															<a href="{{srcLogo2}}"><img alt="" id="logo_2" src="" style="border: none; inline-size: 120px;"></a>
														</p>
													</td>
												{% endif %}
											</td>
										</tr>
									</tbody>
								</table>
									<div id="previewDisclaimer" style="background-color: #2ecc71; border-radius : 5px; padding: 0 5px; color #ecf0f1; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-size: 1rem;">
									<p>Avant d'imprimer, pensez à l'environnement. N'imprimez cette page que si nécessaire.</p>
									</div>
							</div>
						</section>

						<div class="container">
							{% if signature is not empty %}
								<h1>Ma signature :</h1>
								<div id="signature">{{ signature|raw }}</div><br><br>
								<button class="btn btn-secondary" onclick="openModal('{{ path('html_signature', {id: signatureID}) }}')">Format HTML</button>
								<button class="btn btn-success" onclick="openModal('{{ path('png_signature', {id: signatureID}) }}')">Format PNG</button>
							{% endif %}
						</div>
					</div>
				</div><br><br>

				<div id="modal" class="modal">
					<div class="modal-content">
						<div class="modal-header">
							<span class="close" onclick="closeModal()">&times;</span>
							<h2 class="modal-title"></h2>
						</div>
						<div class="modal-body"></div>
					</div>
				</div>
			</div>
		{% endblock %}
		{% block javascripts %}
			{{ parent() }}
			<script>
function removeStorage() {
	localStorage.removeItem('disclaimerState');
    localStorage.removeItem('disclaimerState1');
}

function updatePreview() {

var previewdisclaimer = document.getElementById('previewDisclaimer');
var previewName = document.getElementById('name');
var previewEmail = document.getElementById('previewEmail');
var previewLogo = document.getElementById('logo');
var previewLogo2 = document.getElementById('logo_2');
var previewOrganization = document.getElementById('organization');
var previewRole = document.getElementById('role');
var previewAdress = document.getElementById('address');
var previewZipCode = document.getElementById('zipCode');
var previewCity = document.getElementById('city');
var previewPhone = document.getElementById('phone');

var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var emailValue = document.getElementById('form_email').value;
var logoSelect = document.getElementById('form_logo');
var logoSelect2 = document.getElementById('form_logo_2');
var selectedOption = logoSelect.options[logoSelect.selectedIndex];
var selectedOption2 = logoSelect2.options[logoSelect2.selectedIndex];
var logoValue = "https://lab-web.unsa.org/signature" + selectedOption.getAttribute('name');
var logoValue2 = "https://lab-web.unsa.org/signature" + selectedOption2.getAttribute('name');

document.getElementById('form_disclaimer_0').addEventListener('click', function() {
  document.getElementById('previewDisclaimer').style.display = 'block';
  localStorage.setItem('disclaimerState', 'visible');
});

document.getElementById('form_disclaimer_1').addEventListener('click', function() {
  document.getElementById('previewDisclaimer').style.display = 'none';
  localStorage.setItem('disclaimerState', 'hidden');
});

var organizationValue = document.getElementById('form_organization').value;
var roleValue = document.getElementById('form_role').value;
var addressValue = document.getElementById('form_adress').value;
var cityValue = document.getElementById('form_city').value;
var phoneLandlineValue = document.getElementById('form_phone_landline').value;
var phoneMobileValue = document.getElementById('form_phone_mobile').value;
var zipCodeValue = document.getElementById('form_zip_code').value;
var fullName = firstNameValue + ' ' + lastNameValue;

var imgElement = document.createElement("img");
imgElement.src = "https://lab-web.unsa.org/signature/img/mobile.png";
var phoneContent = phoneLandlineValue + "&ensp;&ensp; " + imgElement.outerHTML + " &ensp; " + phoneMobileValue;

previewName.textContent = fullName;
previewEmail.innerHTML = emailValue;
previewLogo.src = logoValue;
previewLogo2.src = logoValue2;
previewOrganization.textContent = organizationValue;
previewRole.textContent = roleValue;
previewAdress.textContent = addressValue;
previewCity.textContent = cityValue;
previewPhone.innerHTML = phoneContent;
previewZipCode.textContent = zipCodeValue;
}

document.addEventListener('DOMContentLoaded', function() {
  var disclaimerState = localStorage.getItem('disclaimerState');

  if (disclaimerState === 'visible') {
    document.getElementById('previewDisclaimer').style.display = 'block';
  } else if (disclaimerState === 'hidden') {
    document.getElementById('previewDisclaimer').style.display = 'none';
  }  else {
        document.getElementById('previewDisclaimer').style.display = 'none';
    }
});

function togglePasswordVisibility(fieldName) {
var passwordField = document.querySelector('input[name="' + fieldName + '"]');
var showPasswordBtn = document.getElementById("showPasswordBtn");

if (passwordField.type === "password") {
passwordField.type = "text";
showPasswordBtn.textContent = "Cacher";
} else {
passwordField.type = "password";
showPasswordBtn.textContent = "Afficher";
}
}

function toggleInfoPerso() {
var infoPersoFields = document.getElementById("infoPersoFields");
var infoPersoBtn = document.getElementById("infoPersoBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

function toggleInfoEntreprise() {
var infoPersoFields = document.getElementById("infoEntrepriseFields");
var infoPersoBtn = document.getElementById("infoEntrepriseBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

function toggleInfoTheme() {
var infoPersoFields = document.getElementById("infoThemeFields");
var infoPersoBtn = document.getElementById("infoThemeBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

function openModal(url, title) {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

// Charger le contenu de l'URL dans la modal via une requête iframe
modalTitle.textContent = title
modalBody.innerHTML = '<iframe src="' + url + '" style="inline-size:100%; block-size:100%; border:none;"></iframe>'

modal.style.display = 'block'
}

function closeModal() {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

modalTitle.textContent = ''
modalBody.innerHTML = ''

modal.style.display = 'none'
}

window.requestAnimationFrame(updatePreview);

window.addEventListener('message', function (event) {
if (event.data === 'closeModal') {
closeModal();
}
});
			</script>
		{% endblock %}
