{% extends 'base.html.twig' %}

{% block title %}Générer une signature
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}

		.modal-content {
			background-color: #fff;
			margin: 10% auto;
			padding: 20px;
			border: 1px solid #ddd;
			border-radius: 4px;
			inline-size: 80%;
			block-size: 100%;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
			max-block-size: 70vh;
		}

		.modal-header {
			padding-block-end: 10px;
			border-block-end: 1px solid #ddd;
			text-align: center;
		}

		.modal-title {
			margin: 0;
			font-size: 20px;
			font-weight: bold;
		}

		.modal-body {
			flex-grow: 1;
			block-size: 100%;
		}

		.close {
			color: #aaa;
			float: inline-end;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container"><br>
		<div class="d-flex justify-content-end">
			<a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>
		</div>

		<div style="display: flex; justify-content: center;">
			<div style="display: flex; align-items: center;">
				<h1 style="text-align: center; margin-inline-end: 10px;">Bienvue sur votre espace personnel
					{{user.email}}
					&nbsp;</h1>
				<section class="userProfile">
					<form class="user-form" method="POST">
						{{ form_start(userForm) }}<br>

						<div class="form-group">
							<div class="input-group">
								{{ form_row(userForm.password, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="showPasswordBtn" onclick="togglePasswordVisibility('{{ userForm.password.vars.full_name }}')">Afficher</button>
								</div>
							</div>
						</div>

						{{ form_end(userForm) }}
						<br>
					</form>
				</section>
			</div>
		</div><br><br>

		<section class="all_signatures">

			<form method="GET" action="{{ path('profile_signature') }}">
				<div class="form-row">
					<div class="form-group col-md">
						<label for="date">Date de création :</label>
						<input type="date" id="date" name="date" class="form-control" value="{{ date }}">
					</div>
					<div class="form-group col-md">
						<label for="nom">Nom :</label>
						<input type="text" id="nom" name="nom" class="form-control" value="{{ nom }}">
					</div>
					<div class="form-group col-md">
						<label for="email">Email :</label>
						<input type="text" id="email" name="email" class="form-control" value="{{ email }}">
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Rechercher</button>
			</form><br>

			<table class="table border">
				<thead class="table-dark">
					<tr>
						<th>Nom et Prénom</th>
						<th>Adresse email</th>
						<th>Date de création</th>
						{# <th>Date de modification</th> #}
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for signature in pagination %}
						<tr>
							<td>
								<section class="view_signature d-flex justify-content-center align-items-center mt-5">
									<table class="w-100">
										<tr>
											<td class="align-middle" style="inline-size: 10%;">
												<p>
													<a href="https://www.unsa.org/"><img id="logoEdit" src="https://lab-web.unsa.org/signature{{signature.logo.path}}" class="border-0" style="inline-size: 120px;" alt="LOGO UNSA"></a>
												</p>
											</td>
											<td>
												<div style="display: flex;">
													<div style="flex-grow: 1;">
														<p>
															<span id="nameEdit" class="font-weight-bold">{{signature.name}}</span><br>
															<span id="roleEdit">
																<i>{{signature.role}}</i>
															</span><br>
															<span id="organizationEdit">
																<i>{{signature.organization}}</i>
															</span><br>
														</p>
														<p>
															<span id="addressEdit">{{signature.adress}}</span><br>
															<span id="zipCodeEdit">{{signature.zipCode}}&nbsp;</span>
															<span id="cityEdit">{{signature.city}}
																CEDEX</span><br>
														</p>
														<p>
															<img src="https://reseaux.unsa.org/signature/_mail.svg" class="border-0" style="block-size: 12px; margin-inline-end: .5em;">
															<a id="emailEdit" href="mailto:${email}" style="color: #666; font-style: italic;">{{signature.email}}</a><br>
															<img src="https://reseaux.unsa.org/signature/_phone.svg" class="border-0" style="block-size: 14px; margin-inline-end: .5em;">
															<span id="phoneEdit" style="color: #666;">{{signature.phone}}</span>
														</p>
													</div>
												</div>
											</td>
										</tr>
									</table>
								</section>
							</td>
							<td class="text-center align-middle">{{ signature.email }}</td>
							<td class="text-center align-middle">{{ signature.createAT|date('d-m-Y') }}</td>
							{# <td class="text-center align-middle">{{ signature.updateAT|date('d-m-Y') }}</td> #}
							<td class="text-center align-middle">
								<button class="btn btn-warning" onclick="openModal('{{ path('edit_signature',{ id: signature.id }) }}')">Éditer</button>
								<button class="btn btn-secondary" onclick="">HTML</button>
								<button class="btn btn-success" onclick="">PNG</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{# Afficher les liens de pagination #}
			<div class="pagination">
				{{ knp_pagination_render(pagination) }}
			</div>

		</section><br><hr><br>

		<h1>Générer une signature</h1><br><br>

		<section class="generate_signature" style="inline-size: 33%; float: inline-start;">

			<form class="form" method="post">
				{{ form_start(form) }}

				<a id="infoPersoBtn" class="btn btn-outline-warning" onclick="toggleInfoPerso()">Information personnelle</a><br><br>
				<div id="infoPersoFields" style="display: none;">
					<div class="form-group">
						{{ form_row(form.last_name, {'attr': {'class': 'form-control', 'id': 'form_last_name', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.first_name, {'attr': {'class': 'form-control', 'id': 'form_first_name', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.phone_landline, {'attr': {'class': 'form-control', 'id': 'form_phone_landline', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.phone_mobile, {'attr': {'class': 'form-control', 'id': 'form_phone_mobile', 'oninput': 'updatePreview()'}}) }}
					</div>
				</div>

				<a id="infoEntrepriseBtn" class="btn btn-outline-warning" onclick="toggleInfoEntreprise()">Information entreprise</a><br>
				<div id="infoEntrepriseFields" style="display: none;">
				<div class="form-group">
						{{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
					</div>
				</div><br>

				<a id="infoThemeBtn" class="btn btn-outline-warning" onclick="toggleInfoTheme()">Information theme</a><br><br>
				<div id="infoThemeFields" style="display: none;">
					<div class="form-group">
						{{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()'}}) }}
					</div>
				</div>

				{{ form_end(form) }}<br>
			</form>

		</section><br>

		<section class="view_signature d-flex justify-content-center align-items-center mt-5">
			<div class="border p-3">
				<table class="w-100">
					<tbody>
						<tr>
							<td class="align-middle" style="inline-size: 10%;">
								<p>
									<a href="https://www.unsa.org/"><img id="logo" src="" class="border-0" style="inline-size: 120px;" alt="LOGO UNSA"></a>
								</p>
							</td>
							<td>
								<p>
									<span id="name" class="font-weight-bold">Nom et Prénom</span><br>
									<span id="role">
										<i>Mon poste</i>
									</span><br>
									<span id="organization">
										<i>Mon entreprise</i>
									</span><br>
								</p>
								<p>
									<span id="address">Mon adresse</span><br>
									<span id="zipCode">Code postal&nbsp;</span>
									<span id="city">Ville CEDEX</span><br>
								</p>
								<p>
									<img src="https://reseaux.unsa.org/signature/_mail.svg" class="border-0" style="block-size: 12px; margin-inline-end: .5em;">
									<a id="previewEmail" href="mailto:${email}" style="color: #666; font-style: italic;">Adresse Email</a><br>
									<img src="https://reseaux.unsa.org/signature/_phone.svg" class="border-0" style="block-size: 14px; margin-inline-end: .5em;">
									<span id="phone" style="color: #666;">Numéro</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<div style="inline-size: 50%; float: inline-end; padding-block-start: 5%;">
			<div class="Modal">
				{% if signature is not empty %}
					<h1>Ma signature :</h1>
					<div id="signature">{{ signature|raw }}</div>
					<button class="btn btn-secondary" onclick="DownloadHTML()">Format HTML</button>
					<button class="btn btn-success" onclick="DownloadPNG()">Format PNG</button>
				{% endif %}

			</div>
		</div>
		<div id="modal" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onclick="closeModal()">&times;</span>
					<h2 class="modal-title"></h2>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }}

<script>

	function DownloadHTML() { // Récupère le nom de la personne
var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var fullName = firstNameValue + ' ' + lastNameValue;

// Récupère le contenu de la div signature
var element = document.getElementById('signature').innerHTML;

var updatedElement = element.replace(/(<img id="LOGO" src=")([^"]+)(" style="border: none;inline-size: 120px;">)/, '$1https://lab-web.unsa.org/signature$2$3');

var updatedElementSecond = updatedElement.replace(/(<img id="LOGO-PHONE" src=")([^"]+)(" style="border: none;block-size: 14px;margin-inline-end: .5em;">)/, '$1https://lab-web.unsa.org/signature$2$3');

var updatedElementThird = updatedElementSecond.replace(/(<img id="LOGO-MAIL" src=")([^"]+)(" style="border: none;block-size: 12px;margin-inline-end: .5em;">)/, '$1https://lab-web.unsa.org/signature$2$3');

// Crée un fichier HTML avec le nom de la personne
var filename = fullName + '.html';
// Crée et ajoute un lien de téléchargement
var link = document.createElement('a');
link.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(updatedElementThird));
// Ajoute le nom du fichier
link.setAttribute('download', filename);
link.style.display = 'none';
document.body.appendChild(link);
link.click();
document.body.removeChild(link);
}

function DownloadPNG() { // Récupère le nom de la personne
var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var fullName = firstNameValue + ' ' + lastNameValue;

// Récupère l'élément de la signature
var element = document.getElementById('signature');

// Utilise html2canvas pour capturer l'élément en tant qu'image
html2canvas(element).then(function (canvas) { // Convertit le canevas en une URL de données d'image PNG
var dataURL = canvas.toDataURL('image/png');

// Crée et ajoute un lien de téléchargement
var link = document.createElement('a');
link.href = dataURL;
link.download = fullName + '.png';
link.style.display = 'none';

document.body.appendChild(link);
link.click();
document.body.removeChild(link);
});
}

function updatePreview() { // Sélectionnez l'élément de prévisualisation "name"
var previewName = document.getElementById('name');
var previewEmail = document.getElementById('previewEmail');
var previewLogo = document.getElementById('logo');
var previewOrganization = document.getElementById('organization');
var previewRole = document.getElementById('role');
var previewAdress = document.getElementById('address');
var previewZipCode = document.getElementById('zipCode');
var previewCity = document.getElementById('city');
var previewPhone = document.getElementById('phone');

// Sélectionnez la valeur du champ "name"
var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var emailValue = document.getElementById('form_email').value;
var logoSelect = document.getElementById('form_logo');
var selectedOption = logoSelect.options[logoSelect.selectedIndex];
var logoValue = "https://lab-web.unsa.org/signature" + selectedOption.getAttribute('name');
var organizationValue = document.getElementById('form_organization').value;
var roleValue = document.getElementById('form_role').value;
var addressValue = document.getElementById('form_adress').value;
var cityValue = document.getElementById('form_city').value;
var phoneLandlineValue = document.getElementById('form_phone_landline').value;
var phoneMobileValue = document.getElementById('form_phone_mobile').value;
var zipCodeValue = document.getElementById('form_zip_code').value;

// Mettez à jour le contenu de la prévisualisation avec la valeur du champ "name"
var fullName = firstNameValue + ' ' + lastNameValue;
previewName.textContent = fullName;
previewEmail.innerHTML = emailValue;
previewLogo.src = logoValue;
previewOrganization.textContent = organizationValue;
previewRole.textContent = roleValue;
previewAdress.textContent = addressValue;
previewCity.textContent = cityValue + " CEDEX";
previewPhone.textContent = phoneLandlineValue + " - " + phoneMobileValue;
previewZipCode.textContent = zipCodeValue;
}

function togglePasswordVisibility(fieldName) {
  var passwordField = document.querySelector('input[name="'+fieldName+'"]');
var showPasswordBtn = document.getElementById("showPasswordBtn");

if (passwordField.type === "password") {
passwordField.type = "text";
showPasswordBtn.textContent = "Cacher";
} else {
passwordField.type = "password";
showPasswordBtn.textContent = "Afficher";
}
}
function toggleInfoPerso() {
var infoPersoFields = document.getElementById("infoPersoFields");
var infoPersoBtn = document.getElementById("infoPersoBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}

}

function toggleInfoEntreprise() {
var infoPersoFields = document.getElementById("infoEntrepriseFields");
var infoPersoBtn = document.getElementById("infoEntrepriseBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

function toggleInfoTheme() {
var infoPersoFields = document.getElementById("infoThemeFields");
var infoPersoBtn = document.getElementById("infoThemeBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

function openModal(url, title) {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

// Charger le contenu de l'URL dans la modal via une requête iframe
modalTitle.textContent = title
modalBody.innerHTML = '<iframe src="' + url + '" style="inline-size:100%; block-size:100%; border:none;"></iframe>'

modal.style.display = 'block'
}

function closeModal() {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

modalTitle.textContent = ''
modalBody.innerHTML = ''

modal.style.display = 'none'
window.location.reload()
}

window.requestAnimationFrame(updatePreview);
</script>{% endblock %}
