{% extends 'base.html.twig' %}

{% block title %}PNG de la signature
{% endblock %}

{% block body %}
<style>
		#signature-container {
			transform-origin: top left;
			transform: scale(1);
			width: 550px;
			height: 210px;
		}
	</style>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<section class="view_signature d-flex justify-content-center align-items-center mt-5" id="signature-container">
					<div class="p-3">
						<table border="0" cellpadding="0" width="500">
							<tbody>
								<tr>
									<td align="left" valign="middle" width="10"><br>
										<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
											<a href="https://www.unsa.org/"><img id="logo" src="https://lab-web.unsa.org/signature{{signature.logo.path}}" class="border-0" style="border: none;inline-size: 120px;" alt="LOGO UNSA"></a>
										</p>
									</td>
									<td><br>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
											<span id="nameEdit" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">{{signature.name}}</span><br>
											<span id="role" style="color: #666;">
												<i>{{signature.role}}</i>
											</span><br>
											<span id="organization" style="color: #666;">
												<i>{{signature.organization}}</i>
											</span><br>
										</p>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
											<span id="address" style="color: #000;">{{signature.adress}}</span><br>
											<span id="zipCode" style="color: #000;">{{signature.zipCode}}&nbsp;</span>
											<span id="city" style="color: #000;">{{signature.city}}</span><br>
										</p>
										<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
											<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0" style="border: none;block-size: 12px;margin-inline-end: .5em;">
											<a id="previewEmail" href="mailto:{{signature.email}}" style="color: #666; font-style: italic;">{{signature.email}}</a><br>
											<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none; block-size: 14px; margin-inline-end: .5em;">
											{% set phoneNumbers = signature.phone|split(' - ') %}
											{{ phoneNumbers[0] }} &ensp;&ensp;<img src="https://lab-web.unsa.org/signature/img/mobile.png" class="border-0" style="border: none; block-size: 14px; margin-inline-end: .5em;"> {{ phoneNumbers[1] }}
										</p>
										{% if signature.logo2 is not null %}
											<td align="right" valign="middle" width="10"><br>
												<p style="padding-inline-end: 10px; font-size: 12px; line-height: 14px;">
													<a href="https://unsa.org/"><img id="logo_2" alt="" src="https://lab-web.unsa.org/signature{{signature.logo2.path}}" style="border: none; inline-size: 120px;"></a>
												</p>
											</td>
										{% endif %}
									</td>
								</tr>
							</tbody>
						</table>
						{% if signature.disclaimer != 'non' %}
							<div style="background-color: #2ecc71; border-radius : 5px; padding: 0 5px; color #ecf0f1; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-size: 1rem; width: 550px;">
								{{ signature.disclaimer|raw }}
							</div>
						{% endif %}
					</div><br><br>
				</section>
			</div>
		</div>
		<h1 class="text-center text-success">Téléchargement terminé avec succès !</h1>
	</div>
	<button class="btn btn-success" style="visibility: collapse;" onclick="downloadAsPNG()">Télécharger en PNG</button>
	
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			downloadAsPNG();
		});

	function downloadAsPNG() {
		var userName = document.getElementById('nameEdit').innerText;
		var scale = 1; 
  		var width = 550;
  		var height = 205;

	html2canvas(document.querySelector("#signature-container"), {
	    scale: scale,
	    width: width,
	    height: height
	  }).then(function (canvas) {
	    var link = document.createElement("a");
	    document.body.appendChild(link);
	    link.download = userName + ".png";
	    canvas.toBlob(function (blob) {
	      var url = URL.createObjectURL(blob);
	      link.href = url;
	      link.click();
	      URL.revokeObjectURL(url);
	    });
	    document.body.removeChild(link);
	  });

	  setTimeout(function () {
	    var parentWindow = window.parent;
	    parentWindow.postMessage('closeModal', '*');
	  }, 500);
	}
	</script>
{% endblock %}
