
{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur
{% endblock %}

{% block body %}
	<h1>Ajouter un utilisateur</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	{{ form_row(form.role) }}

	<button type="submit">Ajouter</button>

	<a href="{{ path('admin_index') }}" class="btn btn-secondary">Annuler</a>

	{{ form_end(form) }}
{% endblock %}