{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		h1 {
			font-size: 24px;
			font-weight: bold;
			margin-block-end: 20px;
			color: #333;
			text-align: center;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-block-start: 20px;
		}

		form div {
			margin-block-end: 10px;
			inline-size: 100%;
			max-inline-size: 300px;
		}

		form label {
			display: block;
			font-weight: bold;
			margin-block-end: 5px;
		}

		form input[type="email"],
		form select {
			padding: 8px;
			inline-size: 100%;
			border: 1px solid #ddd;
			border-radius: 4px;
		}

		form button {
			padding: 8px 16px;
			font-size: 14px;
			border-radius: 4px;
			background-color: #007bff;
			border: none;
			color: #fff;
			cursor: pointer;
		}

		form button:hover {
			background-color: #0069d9;
		}

		.alert-danger {
			margin-block-end: 10px;
			padding: 10px;
			background-color: #f8d7da;
			border-color: #f5c6cb;
			color: #721c24;
			border-radius: 4px;
		}

		.success-message {
			margin-block-start: 20px;
			padding: 10px;
			background-color: #d4edda;
			border-color: #c3e6cb;
			color: #155724;
			border-radius: 4px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mb-4">Ajouter un utilisateur</h1>

		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

			{{ form_start(form) }}
			<div class="mb-3">
				{{ form_label(form.email, 'Email') }}
				{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'prenom.nom@unsa.org'}}) }}
				{{ form_errors(form.email) }}
			</div>
			<div class="mb-3">
				{{ form_label(form.role, 'Rôle') }}
				{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.role) }}
			</div>

			<button type="submit" class="btn btn-primary" name="submit-btn">Ajouter</button>
			{{ form_end(form) }}

		{% for flashMessage in app.flashes('success') %}
			<div class="alert alert-success mt-4" role="alert">
				{{ flashMessage }}
			</div>
		{% endfor %}
	</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault();
    var form = event.target;
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action, true);
    xhr.onload = function() {
      if (xhr.status === 200) {
        // Traitement en cas de succès de l'envoi du formulaire
        var parentWindow = window.parent;
        parentWindow.postMessage('closeModal', '*');
      } else {
        console.log('pas de transmission de données');
      }
    };
    xhr.send(formData);
  });
});
</script>

{% endblock %}
