{% extends 'base.html.twig' %}

{% block title %}Générer une signature
{% endblock %}

{% block body %}
	<br><br>
	<div class="container"><br>
		<div class="d-flex justify-content-end">
			<a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>
		</div>
		<a href="{{ path('admin_dashboard') }}" class="btn btn-outline-info">Dashboard</a>
		<a class="btn btn-outline-info" href="{{ path('admin_index') }}">Utilisateurs</a>
		<a class="btn btn-outline-info" href="{{ path('admin_logo') }}">Logo</a><br><br>

		<h1>Générer une signature</h1><br><br>

		<section class="generate_signature" style="inline-size: 33%; float: inline-start;">

			<form class="form" method="post">
				{{ form_start(form) }}

				<a id="infoPersoBtn" class="btn btn-outline-warning" onclick="toggleInfoPerso()">Information personnelle</a><br><br>
				<div id="infoPersoFields" style="display: none;">
					<div class="form-group">
						{{ form_row(form.last_name, {'attr': {'class': 'form-control', 'id': 'form_last_name', 'oninput': 'updatePreview()','placeholder' : 'Nom'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.first_name, {'attr': {'class': 'form-control', 'id': 'form_first_name', 'oninput': 'updatePreview()', 'palceholder' : 'Prénom'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.email, {'attr': {'class': 'form-control', 'id': 'form_email', 'oninput': 'updatePreview()', 'placeholder':'prénom.nom@unsa.org'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.phone_landline, {'attr': {'class': 'form-control', 'id': 'form_phone_landline', 'oninput': 'updatePreview()', 'placeholder' : '01 42 42 42 42'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.phone_mobile, {'attr': {'class': 'form-control', 'id': 'form_phone_mobile', 'oninput': 'updatePreview()', 'placeholder' : '06 42 42 42 42'}}) }}
					</div>
				</div>

				<a id="infoEntrepriseBtn" class="btn btn-outline-warning" onclick="toggleInfoEntreprise()">Information entreprise</a><br>
				<div id="infoEntrepriseFields" style="display: none;">

					<div class="form-group">
						{{ form_row(form.organization, {'attr': {'class': 'form-control', 'id': 'form_organization', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.role, {'attr': {'class': 'form-control', 'id': 'form_role', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.adress, {'attr': {'class': 'form-control', 'id': 'form_address', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.zip_code, {'attr': {'class': 'form-control', 'id': 'form_zip_code', 'oninput': 'updatePreview()'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.city, {'attr': {'class': 'form-control', 'id': 'form_city', 'oninput': 'updatePreview()'}}) }}
					</div>
				</div><br>

				<a id="infoThemeBtn" class="btn btn-outline-warning" onclick="toggleInfoTheme()">Information theme</a><br><br>
				<div id="infoThemeFields" style="display: none;">
					<div class="form-group">
						{{ form_row(form.logo, {'attr': {'class': 'form-control', 'id': 'form_logo', 'oninput': 'updatePreview()','required': 'required'}}) }}
					</div>
				</div>
				{{ form_end(form) }}<br>
			</form>

		</section><br>

		<section class="view_signature d-flex justify-content-center align-items-center mt-5">
			<div class="border p-3">
				<table border="0" cellpadding="0" width="500">
					<tbody>
						<tr>
							<td align="left" valign="middle" width="10">
								<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
									<a href="https://www.unsa.org/"><img id="logo" src="" class="border-0" style="border: none;inline-size: 120px;" alt="LOGO UNSA"></a>
								</p>
							</td>
							<td><br>
								<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
									<span id="name" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">Nom et Prénom</span><br>
									<span id="role" style="color: #666;">
										<i>Mon poste</i>
									</span><br>
									<span id="organization" style="color: #666;">
										<i>Mon entreprise</i>
									</span><br>
								</p>
								<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
									<span style="color: #000;" id="address">Mon adresse</span><br>
									<span style="color: #000;" id="zipCode">Code postal&nbsp;</span>
									<span style="color: #000;" id="city">Ville</span><br>
								</p>
								<p style="font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
									<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0" style="border: none;block-size: 12px;margin-inline-end: .5em;">
									<a id="previewEmail" href="mailto:${email}" style="color: #666;font-style: italic;">Adresse Email</a><br>
									<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none;block-size: 14px;margin-inline-end: .5em;">
									<span id="phone" style="color: #666;">Numéro</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><br>

		<div style="inline-size: 50%; float: inline-end; padding-block-start: 5%;">
			<div class="Modal">
				{% if signature is not empty %}
					<h1>Ma signature :</h1>
					<div id="signature">{{ signature|raw }}</div><br>
					<button class="btn btn-secondary" onclick="DownloadHTML()">Format HTML</button>
					<button class="btn btn-success" onclick="DownloadPNG()">Format PNG</button>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script>

		function DownloadHTML() { // Récupère le nom de la personne
var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var fullName = firstNameValue + ' ' + lastNameValue;

// Récupère le contenu de la div signature
var element = document.getElementById('signature').innerHTML;

var updatedElement = element.replace(/(<img id="LOGO" src=")([^"]+)(" style="border: none;inline-size: 120px;">)/, '$1https://lab-web.unsa.org/$2$3');

var updatedElementSecond = updatedElement.replace(/(<img id="LOGO-PHONE" src=")([^"]+)(" style="border: none;block-size: 14px;margin-inline-end: .5em;">)/, '$1https://lab-web.unsa.org$2$3');

var updatedElementThird = updatedElementSecond.replace(/(<img id="LOGO-MAIL" src=")([^"]+)(" style="border: none;block-size: 12px;margin-inline-end: .5em;">)/, '$1https://lab-web.unsa.org$2$3');

// Crée un fichier HTML avec le nom de la personne
var filename = fullName + '.html';
// Crée et ajoute un lien de téléchargement
var link = document.createElement('a');
link.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(updatedElementThird));
// Ajoute le nom du fichier
link.setAttribute('download', filename);
link.style.display = 'none';
document.body.appendChild(link);
link.click();
document.body.removeChild(link);
}

function DownloadPNG() { // Récupère le nom de la personne
var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var fullName = firstNameValue + ' ' + lastNameValue;

// Récupère l'élément de la signature
var element = document.getElementById('signature');
// Utilise html2canvas pour capturer l'élément en tant qu'image
html2canvas(element).then(function (canvas) { // Convertit le canevas en une URL de données d'image PNG
var dataURL = canvas.toDataURL('image/png');

// Crée et ajoute un lien de téléchargement
var link = document.createElement('a');
link.href = dataURL;
link.download = fullName + '.png';
link.style.display = 'none';

document.body.appendChild(link);
link.click();
document.body.removeChild(link);
});
}

function updatePreview() { // Sélectionnez l'élément de prévisualisation "name"
var previewName = document.getElementById('name');
var previewEmail = document.getElementById('previewEmail');
var previewLogo = document.getElementById('logo');
var previewOrganization = document.getElementById('organization');
var previewRole = document.getElementById('role');
var previewAdress = document.getElementById('address');
var previewZipCode = document.getElementById('zipCode');
var previewCity = document.getElementById('city');
var previewPhone = document.getElementById('phone');

// Sélectionnez la valeur du champ "name"
var firstNameValue = document.getElementById('form_first_name').value;
var lastNameValue = document.getElementById('form_last_name').value;
var emailValue = document.getElementById('form_email').value;
var logoSelect = document.getElementById('form_logo');
var selectedOption = logoSelect.options[logoSelect.selectedIndex];
var logoValue = "https://lab-web.unsa.org/signature" + selectedOption.getAttribute('name');
var organizationValue = document.getElementById('form_organization').value;
var roleValue = document.getElementById('form_role').value;
var addressValue = document.getElementById('form_adress').value;
var cityValue = document.getElementById('form_city').value;
var phoneLandlineValue = document.getElementById('form_phone_landline').value;
var phoneMobileValue = document.getElementById('form_phone_mobile').value;
var zipCodeValue = document.getElementById('form_zip_code').value;

// Mettez à jour le contenu de la prévisualisation avec la valeur du champ "name"
var fullName = firstNameValue + ' ' + lastNameValue;
previewName.textContent = fullName;
previewEmail.innerHTML = emailValue;
previewLogo.src = logoValue;
previewOrganization.textContent = organizationValue;
previewRole.textContent = roleValue;
previewAdress.textContent = addressValue;
previewCity.textContent = cityValue ;
previewPhone.textContent = phoneLandlineValue + " - " + phoneMobileValue;
previewZipCode.textContent = zipCodeValue;
}

function toggleInfoPerso() {
var infoPersoFields = document.getElementById("infoPersoFields");
var infoPersoBtn = document.getElementById("infoPersoBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}

}

function toggleInfoEntreprise() {
var infoPersoFields = document.getElementById("infoEntrepriseFields");
var infoPersoBtn = document.getElementById("infoEntrepriseBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

function toggleInfoTheme() {
var infoPersoFields = document.getElementById("infoThemeFields");
var infoPersoBtn = document.getElementById("infoThemeBtn");

if (infoPersoFields.style.display === "none") {
infoPersoFields.style.display = "block";
} else {
infoPersoFields.style.display = "none";
}
}

window.requestAnimationFrame(updatePreview);
	</script>

{% endblock %}
