{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block body %}
	<h1>Modifier un utilisateur</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	{{ form_row(form.role) }}

	<button type="submit" class="btn btn-primary">Enregistrer</button>

	{{ form_end(form) }}
	<form action="{{ path('admin_index') }}" method="get">
		<button type="submit">Retour à la liste des utilisateurs</button>
	</form>
{% endblock %}
