{% extends 'base.html.twig' %}

{% block title %}
	Edition du logo
{% endblock %}

{% block body %}
	<br>
	<div class="container border">
		<br>
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name, {'attr': {'class': 'form-control', 'value': logo.name}})}}
			{{ form_errors(form.name) }}
		</div>
		<div>
			{{ form_label(form.refLink) }}
			{{ form_widget(form.refLink, {'attr': {'class': 'form-control', 'value': logo.refLink}}) }}
			{{ form_errors(form.refLink) }}<br>
		</div>
		<div class="form-group">
			{{ form_label(form.path) }}
			{{ form_widget(form.path, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.path) }}
		</div>
		{{ form_end(form) }}<br>
	</div>

	<script>
		document.querySelector('form[name="form"]').addEventListener('submit', function(event) {
	    event.preventDefault();
		var form = event.target;
      	form.submit();

        // Envoyer loe postMessage au parent window pour fermer la modal
		var parentWindow = window.parent;
            parentWindow.postMessage('closeModal', '*');
    });
	</script>
{% endblock %}
