{% extends 'base.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}

		.modal-content {
			background-color: #fff;
			margin: 10% auto;
			padding: 20px;
			border: 1px solid #ddd;
			border-radius: 4px;
			inline-size: 80%;
			block-size: 100%;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
			max-block-size: 70vh;
		}

		.modal-header {
			padding-block-end: 10px;
			border-block-end: 1px solid #ddd;
			text-align: center;
		}

		.modal-title {
			margin: 0;
			font-size: 20px;
			font-weight: bold;
		}

		.modal-body {
			flex-grow: 1;
			block-size: 100%;
		}

		.close {
			color: #aaa;
			float: inline-end;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
		}
	</style>
{% endblock %}

{% block body %}
	<br><br>
	<div class="container border"><br><br>

		<div class="d-flex justify-content-end">
			<a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>
		</div>

		<h1 class="display-4 text-center">Admin Dashboard</h1>
		<a class="btn btn-outline-info" href="{{ path('admin_index') }}">Utilisateurs</a>
		<a class="btn btn-outline-info" href="{{ path('admin_logo') }}">Logo</a>
		<a class="btn btn-outline-info" href="{{path('admin_create_signature')}}">crée une signature</a>

		<br><br><br><br>
		<section class="all_signatures">
			<h4 class="">Rechercher une signature :
			</h4>

			<form method="GET" action="{{ path('admin_dashboard') }}"><br>
				<div class="form-row">
					<div class="form-group col-md">
						<label for="date">Date de création :</label>
						<input type="date" id="date" name="date" class="form-control" value="{{ createAt }}">
					</div>
					<div class="form-group col-md">
						<label for="nom">Nom :</label>
						<input type="text" id="nom" name="nom" class="form-control" value="{{ name }}">
					</div>
					<div class="form-group col-md">
						<label for="email">Email :</label>
						<input type="text" id="email" name="email" class="form-control" value="{{ mail }}">
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Rechercher</button><br><br>
			</form><br>
			<h4 class="text-center">Liste des signatures</h4>

			<table class="table border">
				<thead class="table-dark text-center">
					<tr>
						<th>Signature</th>
						<th>Adresse email</th>
						<th>Date de création</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for signature in pagination %}
						<tr>
							<td>
								<section class="view_signature d-flex justify-content-center align-items-center mt-5">
									<div class="border p-3">
										<table border="0" cellpadding="0" width="500">
											<tbody>
												<tr>
													<td align="left" valign="middle" width="10">
														<p style="padding-inline-end: 10px;font-size: 12px;line-height: 14px;">
															<a href="https://www.unsa.org/"><img id="logo" src="https://lab-web.unsa.org/signature{{signature.logo.path}}" class="border-0" style="border: none;inline-size: 120px;" alt="LOGO UNSA"></a>
														</p>
													</td>
													<td>
														<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;text-align: start;">
															<span id="name" class="font-weight-bold" style="color: #000;font-weight: bold;font-size: 14px;">{{signature.name}}</span><br>
															<span id="role" style="color: #666;">
																<i>{{signature.role}}</i>
															</span><br>
															<span id="organization" style="color: #666;">
																<i>{{signature.organization}}</i>
															</span><br>
														</p>
														<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
															<span id="address" style="color: #000;">{{signature.adress}}</span><br>
															<span id="zipCode" style="color: #000;">{{signature.zipCode}}&nbsp;</span>
															<span id="city" style="color: #000;">{{signature.city}} CEDEX</span><br>
														</p>
														<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 12px; line-height: 14px; color: #000;">
															<img src="https://lab-web.unsa.org/signature/img/mail.png" class="border-0"  style="border: none;block-size: 12px;margin-inline-end: .5em;">
															<a id="previewEmail" href="mailto:${email}" style="color: #666; font-style: italic;">{{signature.email}}</a><br>
															<img src="https://lab-web.unsa.org/signature/img/phone.png" class="border-0" style="border: none;block-size: 14px;margin-inline-end: .5em;">
															<span id="phone" style="color: #666;">{{signature.phone}}</span>
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section><br>
							</td>
							<td class="text-center align-middle">{{ signature.email }}</td>
							<td class="text-center align-middle">{{ signature.createAT|date('d-m-Y') }}</td>
							<td class="text-center align-middle">
								<button class="btn btn-warning" onclick="openModal('{{ path('edit_signature',{ id: signature.id }) }}')">Éditer</button>
								<a class="btn btn-danger" href="{{ path('admin_delete_signature', {'id': signature.id}) }}" class="signature-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette signature ?')">Supprimer</a>
								<button class="btn btn-secondary" onclick="">HTML</button>
								<button class="btn btn-success" onclick="openModal('{{ path('png_signature',{id: signature.id}) }}')">PNG</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{# Afficher les liens de pagination #}
			<div class="pagination">
				{{ knp_pagination_render(pagination) }}
			</div>

		</section><br>
	</div><br><br>
	<!-- Modal -->
	<div id="modal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<span class="close" onclick="closeModal()">&times;</span>
				<h2 class="modal-title"></h2>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>

	<script>
		function openModal(url, title) {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

// Charger le contenu de l'URL dans la modal via une requête iframe
modalTitle.textContent = title
modalBody.innerHTML = '<iframe src="' + url + '" style="inline-size:100%; block-size:100%; border:none;"></iframe>'

modal.style.display = 'block'
}

function closeModal() {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

modalTitle.textContent = ''
modalBody.innerHTML = ''

modal.style.display = 'none'
window.location.reload()
}
	</script>

{% endblock %}
