{% extends 'base.html.twig' %}

{% block title %}
  Admin Home
{% endblock %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .btn-primary {
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #007bff;
      border: 1px solid #007bff;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn-primary:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
    }
    
    .btn-logout {
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #dc3545;
      border: 1px solid #dc3545;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn-logout:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>Admin Dashboard!</h1>

  <button type="button" class="btn btn-primary" onclick="goToUsers()">Utilisateurs</button>
  <button type="button" class="btn btn-logout" onclick="logout()">Déconnexion</button>

  <div class="signature">
		<h1>Liste des signatures</h1>

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Signature n°</th>
					<th>Signature</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for signature in signatures %}
					<tr>
						<td>{{ signature.id }}</td>
						<td>{{ signature.htmlCode|raw }}</td>
						<td>
							{# <a href="{{ path('download_signature_png', {'id': signature.id}) }}">Télécharger en PNG</a> #}
							{# <a href="{{ path('download_signature_html', {'id': signature.id}) }}">Télécharger en HTML</a> #}
							{# <a href="{{ path('edit_signature', {'id': signature.id}) }}">Modifier</a> #}
								<a href="#" class="btn btn-primary"> Télécharger en PNG</a>
							<a href="#" class="btn btn-primary">Télécharger en HTML</a>
							<a href="#" class="btn btn-primary">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
  </ol>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function goToUsers() {
      window.location.href = "{{ path('admin_index') }}"
    }
    
    function logout() {
      window.location.href = "{{ path('logout') }}"
    }
  </script>
{% endblock %}
