{% extends 'base.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		table {
			inline-size: 100%;
			border-collapse: collapse;
		}

		table th,
		table td {
			padding: 8px;
			border: 1px solid #ddd;
			text-align: center;
		}

		table th {
			background-color: #f2f2f2;
		}

		form {
			display: inline-block;
			margin-inline-end: 5px;
		}

		button {
			display: inline-block;
			padding: 5px 10px;
			font-size: 14px;
			border-radius: 4px;
			background-color: #007bff;
			border: none;
			color: #fff;
		}

		button:hover {
			filter: grayscale(50%);
		}

		.confirm-delete {
			background-color: #c82333;
			cursor: pointer;
		}

		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}

		.modal-content {
			background-color: #fff;
			margin: 10% auto;
			padding: 20px;
			border: 1px solid #ddd;
			border-radius: 4px;
			inline-size: 80%;
			block-size: 100%;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
			max-block-size: 70vh;
		}

		.modal-header {
			padding-block-end: 10px;
			border-block-end: 1px solid #ddd;
			text-align: center;
		}

		.modal-title {
			margin: 0;
			font-size: 20px;
			font-weight: bold;
		}

		.modal-body {
			flex-grow: 1;
			block-size: 100%;
		}

		.close {
			color: #aaa;
			float: inline-end;
			font-size: 28px;
			font-weight: bold;
			cursor: pointer;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
		}

		.btn-logout {
			display: inline-block;
			padding: 5px 10px;
			font-size: 14px;
			border-radius: 4px;
			background-color: #c82333;
			border: none;
			color: #fff;
		}
		.btn-modif {
			display: inline-block;
			padding: 5px 10px;
			font-size: 14px;
			border-radius: 4px;
			background-color: #c89423;
			border: none;
			color: #fff;
		}
		.btn-logout:hover {
			color: #fff;
			background-color: #c82333;
			border-color: #bd2130;
		}
	</style>
{% endblock %}

{% block body %}<br><br>
	<div class="container border">
		<br/>
		<div class="d-flex justify-content-end">
			<a href="{{ path('logout') }}" class="btn btn-danger">Déconnexion</a>
		</div>
		<a href="{{ path('admin_dashboard') }}" class="btn btn-outline-info">Dashboard</a>
		<a class="btn btn-outline-info" href="{{ path('admin_logo') }}">Logo</a>
		<a class="btn btn-outline-info" href="{{ path('admin_create_signature') }}">Crée une signature</a>
		<h1 class="display-4 text-center">Liste des utilisateurs</h1>

		<form action="" method="get">
			<a class="btn btn-outline-success" onclick="openModal('{{ path('admin_add') }}')">Ajouter un utilisateur</a><br/><br/>
		</form>

		<table class="table">
			<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="text-center">{{ user.id }}</td>
						<td class="text-center">{{ user.email }}</td>
						<td class="text-center">{{ user.role }}</td>
						<td class="text-center">
						<div style="display: flex; justify-content: center; align-items: center; gap: 5px">
							<button type="button" onclick="openModal('{{ path('utilisateur_edit', { id: user.id }) }}')" class="btn btn-primary">&#128221; </button>
							<form action="{{ path('user_delete', { id: user.id }) }}" method="POST" onsubmit="return confirmDelete(event)">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"/>
								<button type="submit" class="btn btn-danger">&#128465;</button>
							</form>
						</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Modal -->
		<div id="modal" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onclick="closeModal()">&times;</span>
					<h2 class="modal-title"></h2>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	<script>
		function confirmDelete(event) {
return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')
}

function openModal(url, title) {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

// Charger le contenu de l'URL dans la modal via une requête iframe
modalTitle.textContent = title
modalBody.innerHTML = '<iframe src="' + url + '" style="inline-size:100%; block-size:100%; border:none;"></iframe>'

modal.style.display = 'block'
}

function closeModal() {
var modal = document.getElementById('modal')
var modalTitle = modal.querySelector('.modal-title')
var modalBody = modal.querySelector('.modal-body')

modalTitle.textContent = ''
modalBody.innerHTML = ''

modal.style.display = 'none'
window.location.reload()
}

function logout() {
window.location.href = "{{ path('logout') }}"
}

window.addEventListener('message', function(event) {
    		if (event.data === 'closeModal') {
      			closeModal();
    		}
 		});
	</script>
{% endblock %}
