{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>
	<form action="{{ path('admin_add') }}" method="get">
		<button type="submit">Ajouter un utilisateur</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.role }}</td>
					<td>
						<form action="{{ path('user_show', {'id': user.id}) }}" method="get">
							<button type="submit">Afficher</button>
						</form>
						<form action="{{ path('utilisateur_edit', {'id': user.id}) }}" method="get">
							<input type="hidden" name="_token" value="{{ csrf_token('edit' ~ user.id) }}">
							<button type="submit">Modifier</button>
						</form>

						<form action="{{ path('user_delete', {'id': user.id}) }}" method="DELETE" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<button type="submit">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
