{% extends 'base.html.twig' %}

{% block title %}Crée un mot de passe{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="block-size: 100vh;">
	<div class="text-center">
		<h1 style="font-size: 24px; font-weight: bold; margin-block-end: 20px; color: #333;">Création de mot de passe</h1>
		<form action="{{ path('create_password', {'token': user.token}) }}" method="post" style="max-inline-size: 400px; margin: 0 auto;">
			{{ form_start(form) }}

			<div class="form-group">
				{{ form_label(form.password.first) }}
				<div class="password-input" style="position: relative;">
					{{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
					<button type="button" class="show-password-btn" onclick="togglePasswordVisibility(this)" style="position: absolute; inset-inline-end: 10px; inset-block-start: 50%; transform: translate(-50%, -50%); background: none; border: none; padding: 0; cursor: pointer;">Afficher</button>
				</div>
				{{ form_errors(form.password.first) }}
			</div>

			<div class="form-group">
				{{ form_label(form.password.second) }}
				<div class="password-input" style="position: relative;">
					{{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
					<button type="button" class="show-password-btn" onclick="togglePasswordVisibility(this)" style="position: absolute; inset-inline-end: 10px; inset-block-start: 50%; transform: translate(-50%, -50%); background: none; border: none; padding: 0; cursor: pointer;">Afficher</button>
				</div>
				{{ form_errors(form.password.second) }}
			</div>

			<button type="submit" class="btn btn-primary" style="padding: 8px 16px; border-radius: 4px; background-color: #007bff; border: none; color: #fff; cursor: pointer; margin-block-start: 10px;">Modifier le mot de passe</button>

			{{ form_end(form) }}
		</form>
	</div>
</div>

<script>
	function togglePasswordVisibility(button) {
		const passwordInput = button.previousElementSibling;
		if (passwordInput.type === 'password') {
			passwordInput.type = 'text';
			button.textContent = 'Masquer';
		} else {
			passwordInput.type = 'password';
			button.textContent = 'Afficher';
		}
	}
</script>
{% endblock %}
