{% block content %}
	<h1>Création de mot de passe</h1>

	<form action="{{ path('create_password', {'token': user.token}) }}" method="post">
		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.password) }}
			<div class="password-input">
				{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
			</div>
			{{ form_errors(form.password) }}
		</div>

		<button type="button" id="showPasswordBtn" class="btn btn-primary">Afficher</button>
		<button type="submit" class="btn btn-primary">Modifier le mot de passe</button>

		{{ form_end(form) }}
	</form>

	<script>
		const showPasswordBtn = document.getElementById('showPasswordBtn');
const passwordInputs = document.querySelectorAll('.password-input input');

showPasswordBtn.addEventListener('click', function () {
if (passwordInputs[0].type === 'password') {
for (let i = 0; i < passwordInputs.length; i++) {
passwordInputs[i].type = 'text';
}
showPasswordBtn.textContent = 'Masquer';
} else {
for (let i = 0; i < passwordInputs.length; i++) {
passwordInputs[i].type = 'password';
}
showPasswordBtn.textContent = 'Afficher';
}
});
	</script>

{% endblock %}
