{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.small-form-group {
			width: 50%;
			margin-right: 10px;
		}
	</style>
{% endblock %}

{% block body %}
	<button type="button" class="btn btn-logout" onclick="logout()">Déconnexion</button>

	<div class="profile">

		<h1>Profil</h1>

		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.email, 'Email') }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.password, 'Mot de passe') }}
			<div class="input-group">
				{{ form_widget(form.password, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
				<div class="input-group-append">
					<button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">Afficher</button>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>

	<div class="signature">
		<h1>Liste des signatures</h1>

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Signature n°</th>
					<th>Signature</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for signature in signatures %}
					<tr>
						<td>{{ signature.id }}</td>
						<td>{{ signature.htmlCode|raw }}</td>
						<td>
							{# <a href="{{ path('download_signature_png', {'id': signature.id}) }}">Télécharger en PNG</a> #}
							{# <a href="{{ path('download_signature_html', {'id': signature.id}) }}">Télécharger en HTML</a> #}
							{# <a href="{{ path('edit_signature', {'id': signature.id}) }}">Modifier</a> #}
								<a href="#" class="btn btn-primary"> Télécharger en PNG</a>
							<a href="#" class="btn btn-primary">Télécharger en HTML</a>
							<a href="#" class="btn btn-primary">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="formulaire">

				<h2>Formulaire de signature :</h2>

				{{ form_start(signatureForm) }}
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.name, 'Nom') }}
					{{ form_widget(signatureForm.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.job_title, 'Titre du poste') }}
					{{ form_widget(signatureForm.job_title, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.organization, 'Organisation') }}
					{{ form_widget(signatureForm.organization, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group small-form-group">
					{{ form_label(signatureForm.adress, 'Adresse') }}
					{{ form_widget(signatureForm.adress, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.postal_code, 'Code postal') }}
					{{ form_widget(signatureForm.postal_code, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.city, 'Ville') }}
					{{ form_widget(signatureForm.city, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.email, 'Email') }}
					{{ form_widget(signatureForm.email, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.phone, 'Téléphone') }}
					{{ form_widget(signatureForm.phone, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group small-form-group" style="display: none;">
					{{ form_label(signatureForm.html_code|raw, 'Code HTML') }}
					{{ form_widget(signatureForm.html_code|raw, {'attr': {'class': 'form-control', 'id': 'html-code'}}) }}
				</div>
				<div class="form-group small-form-group">
					{{ form_label(signatureForm.baniere, 'Bannière') }}
					{{ form_widget(signatureForm.baniere, {'attr': {'class': 'form-control'}}) }}
				</div>

				<button type="submit" class="btn btn-primary">Enregistrer</button>
				{{ form_end(signatureForm) }}

			</div>
		</div>


		<div class="col-lg-6">
			<div class="previsualisation">
				<fieldset style="border: 1px solid black;">
					<legend>&nbsp;&nbsp;&nbsp;Prévisualisation de la signature :</legend><br/>
					<!-- Contenu de la prévisualisation de la signature -->
					<style>
                                .logo p {
                                  padding-right: 10px;
                                  font-size: 12px;
                                  line-height: 14px;
                                }
                                .logo img {
                                  border: none;
                                  width: 120px;
                                }
                                .info p {
                                  font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;
                                  font-size: 12px;
                                  line-height: 14px;
                                  color: #000;
                                  text-align: left;
                                }
                                .info span.name {
                                  color: #000;
                                  font-weight: bold;
                                  font-size: 14px;
                                }
                                .info span.role {
                                  color: #666;
                                  font-style: italic;
                                }
                                .info span.organization {
                                  color: #666;
                                  font-style: italic;
                                }
                                .address p {
                                  font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;
                                  font-size: 12px;
                                  line-height: 14px;
                                  color: #000;
                                }
                                .contact p {
                                  font-family: -apple-system, BlinkMacSystemFont, \'Segoe UI\', Roboto, \'Helvetica Neue\', Arial, sans-serif;
                                  font-size: 12px;
                                  line-height: 14px;
                                  color: #000;
                                }
                                .contact img {
                                  border: none;
                                  height: 13px;
                                  margin-right: .5em;
                                }
                                .contact a {
                                  color: #666;
                                  font-style: italic;
                                }
                                .contact span {
                                  color: #666;
                                }
                                .social p {
                                  margin: 0;
                                  padding: 0;
                                }
                                .social img {
                                  border: none;
                                  height: 23px;
                                  margin-right: .5em;
                                }
                                .social a {
                                  color: #666;
                                  font-style: italic;
                                }
                              </style>
                                </head>                          
                                <body>
                                  <table border="0" cellpadding="0" width="500">
                                    <tbody>
                                      <tr>
                                        <td align="left" valign="middle" width="10">
                                          <div class="logo">
                                            <p><a href="https://www.unsa.org"><img src="' . $logo . '"></a></p>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="info">
                                            <p><span class="name">' . $name . '</span><br><span class="role"><i>' . $jobTitle . '</i></span><br><span
                                                class="organization"><i>' . $organization . '</i></span><br></p>
                                          </div>
                                          <div class="address">
                                            <p><span>' . $address . '</span><br><span>' . $postalCode . '</span>&nbsp;<span>' . $city . ' CEDEX</span><br></p>
                                          </div>
                                          <div class="contact">
                                            <p><img src="https://reseaux.unsa.org/signature/_mail.svg"><a
                                                href="mailto:' . $email . '">' . $email . '</a><br><img
                                                src="https://reseaux.unsa.org/signature/_phone.svg"><span>' . $phone . '</span></p>
                                          </div>
                                          <div class="social">
                                            <p><img
                                                src="' . $logo . '"><a
                                                href="">' . $path . '</a><br></p>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <button>Enregistrer</button>
                                  <button>PNG</button>
                                  <button>HTML</button>
                                </body>
				</fieldset>
			</div>
		</div>


	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>

		function togglePasswordVisibility() {
const passwordInput = document.getElementById("{{ form.password.vars.id }}");
const passwordButtonType = passwordInput.getAttribute("type");

if (passwordButtonType === "password") {
passwordInput.setAttribute("type", "text");
} else {
passwordInput.setAttribute("type", "password");
}
}
function logout() {
window.location.href = "{{ path('logout') }}";
}
	</script>

{% endblock %}
