{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<button type="button" class="btn btn-logout" onclick="logout()">Déconnexion</button>
	<h1>Profil</h1>

	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.email, 'Email') }}
		{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
		{{ form_label(form.password, 'Mot de passe') }}
		<div class="input-group">
			{{ form_widget(form.password, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
			<div class="input-group-append">
				<button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">Afficher</button>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(form) }}

	<h1>Liste des signatures</h1>

	<ol>
		{% for signature in signatures %}
			<li>
				<p>{{ signature.name }}</p>
				<p>{{ signature.jobTitle }}</p>
				<p>{{ signature.organization }}</p>
				<p>{{ signature.address }}</p>
				<p>{{ signature.city }}</p>
				<p>{{ signature.logo }}</p>
				{% if signature.socialLink is not null %}
					<p>{{ signature.socialLink }}</p>
				{% endif %}
				<p>{{ signature.postalCode }}</p>
				<p>{{ signature.email }}</p>
				<p>{{ signature.phone }}</p>
				<p>{{ signature.signatureHtml|raw }}</p>
			</li>
		{% endfor %}
	</ol>

	<h2>Formulaire de signature :</h2>
	<script>
		function togglePasswordVisibility() {
const passwordInput = document.getElementById("{{ form.password.vars.id }}");
const passwordButtonType = passwordInput.getAttribute("type");

if (passwordButtonType === "password") {
passwordInput.setAttribute("type", "text");
} else {
passwordInput.setAttribute("type", "password");
}
}

function logout() {
window.location.href = "{{ path('logout') }}";
}
	</script>
{% endblock %}
